{
	"recommendations": [
		{% filter indent_block(width="\t\t") %}
		{% block recommendations %}
		{% endblock recommendations %}
		{% endfilter %}
		{% if "javascript" in languages %}
		"dbaeumer.vscode-eslint",
		{% endif %}
		{% if "astro" in frameworks %}
		"astro-build.astro-vscode",
		"esbenp.prettier-vscode",
		{% endif %}
		{% if "vue" in frameworks %}
		"Vue.volar",
		{% endif %}
		{% if "mdx" in frameworks %}
		"unifiedjs.vscode-mdx",
		{% endif %}
		{% if "python" in languages %}
		"ms-python.python",
		"charliermarsh.ruff",
		{% endif %}
		{% if "rust" in languages %}
		"rust-lang.rust-analyzer"
		{% endif %}
	]
}
