set dotenv-load := false

# @ toggles quieting at the recipe-level. Without quiet, each commands is
#   printed to STDERR before execution.
# _ marks a recipe as private and stops it from appearing in `just --list` or
#   `just --summary`.

# Show all available recipes.
@_default:
	just --list --unsorted
	{% filter indent_block %}
	{% block recipe_default %}
	{% endblock recipe_default %}
	{% endfilter %}

# Print the given text with an equal number of `=` characters below it.
@_section text:
	printf "\n{{ text }}\n"
	printf "%0.s=" $(seq 1 $(printf "%s" "{{ text }}" | wc -c))
	printf "\n"

# Setup
# =====

# Install dependencies.
install:
	{% if "uv" in package_managers %}
	uv sync
	{% endif %}
	{% if "pnpm" in package_managers %}
	pnpm i
	{% endif %}
	{% if "cargo" in package_managers %}
	cargo bin --install
	{% endif %}
	{% filter indent_block %}
	{% block recipe_install %}
	{% endblock recipe_install %}
	{% endfilter %}

	pnpm prek install --hook-type pre-commit --hook-type pre-push

alias i := install

# Lint
# ====

# Run one, or all, of `prek`'s hooks on specific, or all, files.
lint hook="" *files="":
	pnpm prek run {{ hook }} {{ if files == "" { "--all-files" } else { "--files" } }} {{ files }}

alias l := lint
{% if self.project() | trim %}

{% block project %}
{% endblock project %}
{% endif %}
